.about {
  padding-top: 85px;
  padding-bottom: 63px;
}

@media (max-width: 1440px) {
  .about {
    padding-top: 84px;
  }
}

@media (max-width: 540px) {
  .about {
    padding-top: 53px;
    padding-bottom: 28px;
  }
}
