.about {
  min-height: 455px;
  padding-top: 82px;
  padding-bottom: 56px;
}

@media (max-width: 1440px) {
  .about {
    padding-top: 84px;
  }
}

@media (max-width: 540px) {
  .about {
    padding-top: 53px;
    padding-bottom: 28px;
  }
}
