@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans';
  src: url('../fonts//OpenSans-Bold.woff2') format('woff2'),
    url('../fonts//OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}


* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Open-sans', sans-serif;
}


.container {
  max-width: 1900px;
  padding-left: 155px;
  padding-right: 160px;
  margin: 0 auto;

  &-header {
    display: flex;
    align-items: center;
    padding-right: 145px;
  }

  &-hero {
    padding-left: 151px;
    padding-top: 20px;
  }

  &-herotop {
    padding-top: 0;
    padding-left: 152px;
    padding-right: 147px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-about {
    padding-left: 153px;
  }

  &-galery {
    padding-left: 153px;
  }
}

.swiper-container {
  padding-top: 25px;
}

.title {
  color: $text-color;
  font-size: 48px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  &_white {
    color: $white
  }
}

.text {
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

  &_about {
    margin-top: 22px;
    padding-right: 500px;
  }
}

@media (max-width: 1690px) {
  .text {

    &_about {
      padding-right: 0;
    }
  }
}


@media (max-width: 1440px) {
  .container {
    padding-right: 33px;
    padding-left: 50px;

    &-hero {
      padding-left: 45px;
    }

    &-about {
      padding-right: 45px;
    }

    &-galery {
      padding-right: 35px;
    }
  }

  .swiper-container {
    padding-top: 23px;
  }
}

@media(max-width: 1000px) {
  .container {
    &-hero {
      padding-right: 40px;
    }

    &-about {
      padding-right: 35px;
    }
  }
}


@media(max-width: 720px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media(max-width: 540px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;

    &-hero {
      padding-top: 0;
    }
  }

  .title {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    line-height: 28px;

    &_about {
      margin-top: 15px;
    }
  }

  .swiper-container {
    margin: 0 auto;
    margin-left: 5px;
  }
}
