@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans';
  src: url('../fonts//OpenSans-Bold.woff2') format('woff2'),
    url('../fonts//OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open-sans', sans-serif;
  margin: 0;
}


main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}



pre {
  font-family: monospace, monospace;
  font-size: 1em;
}


a {
  text-decoration: none;
  background-color: transparent;
}


abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}


b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;

}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}


button,
input {
  overflow: visible;
}


button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}


progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  list-style: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.container {
  max-width: 1900px;
  padding-left: 155px;
  padding-right: 160px;
  margin: 0 auto;

  &-hero {
    padding-left: 151px;
    padding-top: 63px;
  }
}

.swiper-container {
  padding-top: 30px;
}

.title {
  color: $text-color;
  font-size: 48px;
  font-weight: 400;

  &_white {
    color: $white
  }
}

.text {
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

  &_about {
    margin-top: 22px;
    padding-right: 500px;
  }
}

@media (max-width: 1690px) {
  .text {

    &_about {
      padding-right: 0;
    }
  }
}


@media (max-width: 1440px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;

    &-hero {
      padding-left: 45px;
    }

    &-about {
      padding-right: 45px;
    }

    &-galery {
      padding-right: 35px;
    }
  }

  .swiper-container {
    padding-top: 23px;
  }
}

@media(max-width: 1000px) {
  .container {
    &-hero {
      padding-right: 40px;
    }

    &-about {
      padding-right: 35px;
    }
  }
}


@media(max-width: 720px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media(max-width: 540px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;

    &-hero {
      padding-top: 0;
    }
  }

  .title {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    line-height: 28px;

    &_about {
      margin-top: 15px;
    }
  }

  .swiper-container {
    margin: 0 auto;
    margin-left: 5px;
  }
}
