.header {
  position: relative;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 28px;

  background-color: #000;

  &__logo {
    margin-right: 171px;

    &:focus {
      border: none;
      outline: 2px solid $active;
    }
  }

  &__img {
    &:focus {
      border: none;
      outline: none;
    }
  }

  &-nav {



    &__list {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__item {

      padding: 2px 6px 8px 6px;

      &:not(:last-child) {
        margin-right: 51px;
      }

    }


    &__link {
      color: $white;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: color .2s ease;

      &:hover {
        color: $hover;
      }

      &:active {
        color: $active;
      }


      &:focus {
        outline: 2px solid $active;
      }

    }
  }

  &-sign {
    margin-left: auto;
    color: $white;
    font-size: 18px;
    padding-left: 22px;
    background-image: url('../icons/sign.svg');
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    cursor: pointer;
    transition: color .15s ease;

    &:focus {
      outline: 2px solid $active;
    }

    &:hover {
      color: $hover;
      background-image: url('../icons/signhov.svg');
    }

    &:active {
      color: $active;
      background-image: url('../icons/signact.svg');
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  background-color: #000;
  border: none;

  &-line {
    height: 3.65px;
    background-color: #fff;

    &__first {
      width: 36px;
    }

    &__second {
      width: 28.2px;
      margin-top: 9px;
    }

    &__third {
      width: 24px;
      margin-top: 9px;
    }
  }

  &:hover {
    .burger-line {
      background-color: $hover;
    }
  }

  &:focus {
    outline: 2px solid $main;
  }
}


@media (max-width: 1650px) {
  .header {
    &-nav {
      margin-left: 100px;

      &__link {
        font-size: 16px;
      }

      &__item {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}


@media(max-width: 1440px) {
  .header {
    padding-top: 28px;

    &__logo {
      padding-left: 91px;
      margin: 0 auto;
    }

    &-nav {
      &__list {
        display: none;
      }
    }

    &-sign {
      display: none;
    }

    &__img {
      width: 185px;
    }
  }

  .burger {
    display: block;
  }
}






@media(max-width: 540px) {
  .header {
    min-height: 45px;
    padding-top: 11px;

    &-nav {
      margin-left: 0;
    }

    &__logo {
      padding-left: 0px;
    }

    &__img {
      width: 97px;
      height: 22px;

    }
  }


  .burger {

    &-line {
      height: 1.96px;
      background-color: #fff;

      &__first {
        width: 20px;
      }

      &__second {
        width: 15.67px;
        margin-top: 4.57px;
      }

      &__third {
        width: 13.33px;
        margin-top: 4.57px;
      }
    }

    &:hover {
      .burger-line {
        background-color: $hover;
      }
    }
  }
}
