@import './variables';

@import './normilize';
@import './swiper.min';


@import './base.scss';
@import './header';
@import './hero';
@import './about';
@import './galery';
@import './select';
@import './catalog';
@import './accordion';


.hide {
  display: none;
}

.hideopacity {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.showopacity {
  height: auto;
  opacity: 1;
}
